body {
    background: url(./photos/mohammad.jpeg) center no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.container {
    padding: 20px;
    text-align: center;
    font-family: luminari;
    color: whitesmoke;
}

h1 {
    font-size: 6em; 
    margin: auto;   
}

h3 {
    font-size: 2em;
    margin: auto;
}

#futureteller {
    padding: 20px;
    margin: 0 auto;
    width: 60%;
    height: 50%;
    background: rgba(250, 250, 250, 0.5);
    font-family: luminari;
    color: whitesmoke;
}

img {
    max-width: 100%;
    width: 80%;
    height: 80%;
    position: center;
    border: 5px solid rgb(70, 197, 214);
}

p {
    color: black;
    font-family: fantasy;
    font-size: 1.2em;
}

#question {
    height: 75px;
    width: 1000px;
    font-family: fantasy;
    font-size: 1.5em;
}

#button {
    height: 81px;
    width: 200px;
    font-family: luminari;
    font-size: 1.5em;
    background:rgb(70, 197, 214)
}

label {
    text-align: center;
    font-family: luminari;
    font-size: 1.75em;
    color: whitesmoke;
}