body {
    background: url(./photos/mohammad.jpeg) center no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.title {
    text-align: center;
    font-family: luminari;
    font-size: 150%;
    color: whitesmoke;
}

img {
    
}